html,
body {
  overflow: hidden;
  background-color: #4044ca;
  height: 100%;
}

* {
  font-family: "Actor", sans-serif;
  margin: 0vw;
  padding: 0vw;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin: 40px 5vw 10px 5vw;
}

.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0vw 5vw;
}

.unDoneBox,
.doneBox {
  display: flex;
  justify-content: stretch;
  align-items: center;
  color: white;
}

.icon1 {
  font-size: 35px;
}

.doneCount,
.unDoneCount {
  font-size: 30px;
}

.space {
  width: 2vw;
}

#addTaskButton {
  color: #4044ca;
  background-color: white;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  width: 40vw;
  height: 70px;
}

#addTaskButton:hover {
  background-color: #d7d8eb;
  width: 41vw;
}

#addTaskButton:active {
  background-color: white;
  width: 41vw;
}

.tasksDiv {
  display: block;
  margin: 45px 0vw 0vw 0vw;
  padding: 5vw;
  background-color: white;
  height: 100%;
  border-radius: 10vw 0vw 0vw 0vw;
  overflow: scroll;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  margin: 10px 5vw;
  height: 70px;
  border-color: rgb(158, 140, 140);
  border-radius: 15px;
  background-color: #f2f2f2;
}
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
}
.right {
  padding: 0px 20px;
}
.task_data {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.task-icon {
  font-size: 20px;
}
.btn {
  border: none;
  background-color: transparent;
}
.delete-btn:hover {
  color: red;
}
.edit-btn:hover {
  color: #4044ca;
}
.check {
  height: 30px;
  width: 30px;
  appearance: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.check:checked {
  background-color: #4044ca;
  color: #99a1a7;
}
.check:checked:after {
  content: "\2713";
  font-size: 35px;
  color: #ffffff;
}
.task-name {
  font-size: 18px;
  color: #4044ca;
  font-weight: 600;
}
.due-date {
  font-size: 15px;
}

.popup-form {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.form-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-element {
  margin: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.field {
  margin-left: 20px;
  width: 150px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #4044ca;
}

.pop-label {
  color: #4044ca;
  font-weight: 600;
}
.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add,
.cancel {
  color: white;
  background-color: #4044ca;
  border: none;
  border-radius: 10px;
  margin: 10px;
  width: 100px;
  height: 40px;
  font-size: 15px;
}
