body{
    background-color: #4044ca;
}

.flexBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

} 

h1{
    color:white;
    font-size: 400%;
    margin-top: 15vh;
   


}
img{
    width: 100px;


}
p{
    font-size: 23px;
    color: white;
    text-align:center;
    margin-top: 9vh;

}
button{
    background-color: white;
    border-radius: 10px;
    border: 4px double #cccccc;
    color:#4044ca;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    width: 200px;
    margin-top: 10vh;
}

button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
}

.flexBox2{
    display: flex;
    align-items: center;
    justify-content: center;
}